# CODEOWNERS - versión final optimizada
# Siempre @Thrumanshow o @HormigasAIS estarán como dueños

# Regla general: todo el repo
* @Thrumanshow @HormigasAIS

# Archivos específicos
*.js @js-owner @Thrumanshow @HormigasAIS
*.go docs@example.com @Thrumanshow @HormigasAIS
*.txt @HormigasAIS/termuxcats @Thrumanshow

# Directorios específicos
/build/logs/ @Thrumanshow @HormigasAIS
/docs/ @Thrumanshow @HormigasAIS
/docs/* docs@example.com @Thrumanshow @HormigasAIS
/apps/ @Thrumanshow @HormigasAIS
/apps/github @Thrumanshow @HormigasAIS
/scripts/ @docThrumanshow @Thrumanshow @HormigasAIS
**/logs @Thrumanshow @HormigasAIS
